.background-3 {
    background-color: #121230;
}
.pagechange .h4 {
    color: #61dafb;
    display: block;
}
.pagechange .h2 {
    color: #fff;
    display: block;
}
.right {
    text-align: right;
}
.footerLink {
    color: rgba(255, 255, 255, 0.7) !important;
}
.footerLink:hover, .footerLink:active {
    color: rgba(255, 255, 255, 1) !important;
}